**.pyc
__pycache__/**
**/__pycache__/**
**/.pytest_cache/**
**/.mypy_cache/**
.pytest_cache/**
.mypy_cache/**
**/node_modules/**
.vscode/**
**log*.txt
**/a.out
**/*.exe
**/build/**
**/venv/**
**.dll
**.pdb
csharp/*/obj
csharp/*/bin
**/TestResults
docs/_build
*/target
**/.coverage
**/.coverage.*
**/coverage
**/dist/*
javascript/src/lib/fallbacks
docs/languages*.svg
docs/_tags