c/Unity/* linguist-vendored
c/wasi-libc/* linguist-vendored
cplusplus/Unity/* linguist-vendored

c/*.c linguist-language=c
c/*.h linguist-language=c
c/*/*.c linguist-language=c
c/*/*.h linguist-language=c

cplusplus/*.cpp linguist-language=c++
cplusplus/*.h linguist-language=c++
cplusplus/*/*.cpp linguist-language=c++
cplusplus/*/*.h linguist-language=c++
