c/Unity/* linguist-vendored

c/*.c linguist-language=c
c/*.h linguist-language=c
c/*/*.c linguist-language=c
c/*/*.h linguist-language=c

cplusplus/*.cpp linguist-language=c++
cplusplus/*.h linguist-language=c++
cplusplus/*/*.cpp linguist-language=c++
cplusplus/*/*.h linguist-language=c++

*.rst linguist-language=reStructuredText
*/*.rst linguist-language=reStructuredText
*/*/*.rst linguist-language=reStructuredText

*.yml linguist-language=yaml
*.yaml linguist-language=yaml
*/*.yml linguist-language=yaml
*/*.yaml linguist-language=yaml
*/*/*.yml linguist-language=yaml
*/*/*.yaml linguist-language=yaml
