**.pyc
__pycache__/**
**/__pycache__/**
**/.pytest_cache/**
**/.mypy_cache/**
.pytest_cache/**
.mypy_cache/**
**/node_modules/**
.vscode/**
**log*.txt
**/a.out
**/*.exe
**/build/**
**/venv/**
**.dll
**.pdb
csharp/*/obj
csharp/*/bin
**/TestResults
docs/_build
rust/target
**/.coverage
**/.coverage.*
**/coverage
**/dist/*
docs/_static/test-js.html
javascript/src/lib/fallbacks
