sphinx>=3.1
sphinx-rtd-theme
sphinx-js
sphinx-csharp
sphinxcontrib-makedomain
sphinxcontrib-domaintools
ghlinguist
matplotlib
sphinx-favicon
sphinx-notfound-page
javasphinx-workaround
sphinx-tags
sphinx-mathjax-offline
sphinxcontrib-luadomain
sphinx-fortran
sphinxcontrib-mermaid
