.rst-content .toctree-wrapper:not(:last-child) ul {
    margin-bottom: 10px;
}

div.dt-container.dt-empty-footer div.dt-layout-row div.dt-layout-start {
    display: none;
}

table.compact thead th p {
    margin: 0 !important;
}