name: C

on:
  workflow_dispatch:
  push:
    paths:
      - 'c/**'
      - '!c/README.rst'
      - '.github/workflows/c.yml'
  schedule:
  - cron: "0 0 1 * *"

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  c:
    strategy:
      fail-fast: false
      matrix:
        os: [macos-latest, 'ubuntu-20.04']
        compiler: ['all']
        include:
          - os: ubuntu-latest
            compiler: clang
          - os: ubuntu-latest
            compiler: gcc
          - os: ubuntu-latest
            compiler: tcc
          - os: ubuntu-latest
            compiler: pcc
          - os: windows-latest
            compiler: clang
    runs-on: ${{ matrix.os }}

    steps:
    - uses: actions/checkout@v4
      with:
        submodules: true

    - name: Use Python 3.10
      uses: actions/setup-python@v5
      with:
        python-version: "3.10"
        cache-dependency-path: '*/requirements.txt'

    - name: Setup compiler
      uses: awalsh128/cache-apt-pkgs-action@latest
      if: ${{ matrix.os == 'ubuntu-latest' }}
      with:
        packages: ${{ matrix.compiler }}
        version: ${{ matrix.compiler }}

    - name: Setup MSVC
      uses: aminya/setup-cpp@v1
      if: ${{ contains(matrix.os, 'windows') }}
      with:
        compiler: msvc
        vcvarsall: true

    - name: Run tests (native runner)
      if: ${{ !contains(matrix.os, 'windows') }}
      run: make c_native_test

    - name: Run tests (ubuntu-latest)
      if: ${{ matrix.os == 'ubuntu-latest' }}
      run: make c_test COV=true COMPILER_OVERRIDE=${{ matrix.compiler }} NO_CLEANUP=true

    # - name: Setup upterm session
    #   uses: lhotari/action-upterm@v1
    #   if: ${{ matrix.os == 'ubuntu-latest' }}
    #   with:
    #     ## limits ssh access and adds the ssh public key for the user which triggered the workflow
    #     limit-access-to-actor: true

    - name: Run tests (ubuntu lts)
      if: ${{ contains(matrix.os, 'ubuntu') && matrix.os != 'ubuntu-latest' }}
      run: make c_test_auto

    - name: Run tests (windows)
      if: ${{ contains(matrix.os, 'windows') }}
      run: make c_test COMPILER_OVERRIDE=${{ matrix.compiler }}

    - name: Run tests (macos)
      if: ${{ contains(matrix.os, 'macos') }}
      run: make c_test_auto
      env:
        NO_OPTIONAL_TESTS: true
        COMPILER_OVERRIDE: clang

    - name: Upload coverage reports to Codecov
      uses: codecov/codecov-action@v4.0.1
      with:
        token: ${{ secrets.CODECOV_TOKEN }}
        flags: C
